@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
}

.parent-container {
  /* width: 90%; */
  max-width: 980px;
  margin: 2em auto;
  font-family: "Open Sans", sans-serif;
  padding: 0 1em;
}

.section-top {
  width: 100%;
  text-align: center;
}

.start-getting-text {
  font-size: 3rem;
  padding-bottom: 0.5em;
}

.getting-span {
  color: #b7832f;
}

.top-image {
  max-width: 100%;
  /* width: 100%; */
  margin-bottom: 1em;
}

.section-middle {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  width: 100%;
  line-height: 1.5rem;
}

.dolor-sit-header,
.consectetur-header {
  font: 1.5rem;
  padding-bottom: 1em;
  color: #312614;
}

.dolor-sit-text {
  width: 20%;
  color: #707070;
}

.consectetur-text {
  width: 45%;
  color: #707070;
}

.new-line {
  /* word-wrap: break-word; */
  /* white-space: initial; */
}

.paragragh-bg {
  width: 20%;
  background-color: #312614;
  padding: 1em;
  color: #fff;
}

.section-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  width: 100%;
}

.deserunt-text {
  color: #312614;
  width: 70%;
}

.deserunt-header {
  padding-bottom: 1em;
}

.deserunt-paragraph {
  color: #707070;
}

/* Responsiveness for screen below 660px */

@media (max-width: 600px) {
  .column {
    display: flex;
    flex-direction: column;
  }

  .dolor-sit-text {
    width: 100%;
  }

  .consectetur-text {
    width: 100%;
    margin: 1em 0;
  }

  .deserunt-text {
    width: 100%;
    margin-bottom: 1em;
  }

  .paragragh-bg {
    width: 100%;
  }
}
